@font-face {
    font-family: "Big Shoulders Display";
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}
body{
    background-color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    width: 1440px;
}

div{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 20px;
}

p {
    font-family: Lexend Deca;
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
    font-weight: 400;
    padding: 30px 0px 40px 0px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    height: 450px;
    width: 750px;
    margin: auto;
    padding: auto;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

/* using grid
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
    width: 750px;
    margin: auto;
    padding: auto;
}*/

#orange {
    background-color: hsl(31, 77%, 52%);
}

#cyan {
    background-color: hsl(184, 100%, 22%);
}

#dark_cyan {
    background-color: hsl(179, 100%, 13%);
}

button {
    padding: 12px;
    border-radius: 2em;
    border: 2px solid hsl(0, 0%, 95%);
}

button.orange {
    color:hsl(31, 77%, 52%);
}

button.cyan{
    color: hsl(184, 100%, 22%);
}

button.dark_cyan{
    color: hsl(179, 100%, 13%);
}
button.orange:active {
    background-color: hsl(31, 77%, 52%);
    color: inherit;
}

button.cyan:active {
    background-color: hsl(184, 100%, 22%);
    color: inherit;
}

button.dark_cyan:active {
    background-color: hsl(179, 100%, 13%);
    color: inherit;
}

@media screen and (max-width: 375px) {
    body {
        max-width: 375px;
    }
    #container {
        width: 75%;
        display: flex;
        flex-flow: column nowrap;
        height: 80%;
    }
}
